
html, body {
    margin: 0;
    padding: 0;
  }

html {
    font-size: 16px;
    background-color: #ffffff;
  }

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    padding: 1em;
    width: 100vw;
    height:17em;
    background-image: url(Assets/buche-de-noel.jpg);
    background-size: cover;
    background-position:center;
    justify-content: center;
    align-items: center;
    background-color: #636669;
    background-blend-mode: multiply;
}

h1 {
    color: white;
    font-style: italic;
    font-size: 2.6em;
    letter-spacing: 0.03em;
}

/* nav {
    /* height: 50px; */
    /* border: 3px solid black; */
    /* flex: 100%; */
    /* display: flex; */

/*} */
  
nav ul {
    /* border: 3px solid black; */
    padding: 0;
    list-style-type: none;
    flex: 1;
    display: flex;
    color:white;
    flex-wrap: wrap;
    margin:0;
    background-color: #437ba6;

}

nav li {
    /* border: 2px dashed rgb(196, 41, 41); */
    text-align: center;
    flex: 5em;
    padding:0.6em;
 
}

nav .current-page {
    font-weight: 900;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #163a55;
}


main {
    margin: 1.5em;
}

.img1 {
    background-image: url(Assets/cheesecake.jpeg);
    width: 10lh;
    height: 10lh;
    background-size: cover;
    background-position: center;
}

.img2 {
    background-image: url(Assets/garlic-cloud-rolls.jpeg);
    width: 10lh;
    height: 10lh;
    background-size: cover;
    background-position: center;
}